app:
  image: nodesource/trusty:5.1
  links:
    - elasticsearch
  volumes:
    - .:/app
    - ./environment/logs:/var/log
  working_dir: /app
  ports:
    - "3000:3000"
  environment:
    - ELASTICSEARCH_HOST=elasticsearch
  command: node server.js

elasticsearch:
  image: elasticsearch:latest
  ports:
    - "9200:9200"
  volumes:
    - /usr/share/elasticsearch/data:/usr/share/elasticsearch/data
    - /usr/share/elasticsearch/config:/usr/share/elasticsearch/config

kibana4:
  image: deviantony/elk-kibana:latest
  ports:
    - "8080:80"
  links:
    - elasticsearch
